[Unit]
Description=System Info Collector
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=__USER__
WorkingDirectory=/home/__USER__/data_collector
ExecStart=/home/__USER__/data_collector/system_info_collector collect -d /home/__USER__/data_collector/data.csv -m __METRICS__ --all-networks __DISKS__ -c 1.0 -s
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
